<footer>
    <div class="container">
        <div class="top flex">
            <img src="/assets/img/Movida-fachada.png" alt="Movida Fachada">
            <p>O <strong>Movida Zero Km</strong> é um contrato de locação de longo prazo. Você escolhe o modelo e
                opcionais desejados, e esquece<br> as burocracias. <b>Movida Zero Km</b>, o carro por assinatura com
                tudo o que você precisa!</p>
        </div>

        <nav class="main">
            <div class="item">
                <strong>ZERO KM</strong>
                <ul class="flex">
                    <li><a href="">Home</a></li>
                    <li><a href="">O que é o Zero Km Movida?</a></li>
                    <li><a href="">Porque assinar</a></li>
                    <li><a href="">Comprar ou assinar</a></li>
                    <li><a href="">Perguntas Frequentes</a></li>
                    <li><a href="">Condições Gerais</a></li>
                </ul>
            </div>

            <div class="item">
                <strong>A MOVIDA</strong>
                <ul class="flex">
                    <li><a href="">Institucional</a></li>
                    <li><a href="">Nossas Lojas</a></li>
                    <li><a href="">Fale Conosco</a></li>
                    <li><a href="">Trabalhe Conosco</a></li>
                    <li><a href="">Imprensa</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Política de Privacidade</a></li>
                </ul>
            </div>

            <div class="item">
                <strong>SITES MOVIDA</strong>
                <div class="container flex">
                    <ul class="flex sites">
                        <li><img src="/assets/img/icons/movida-aluguel.svg" alt=""></li>
                        <li><img src="/assets/img/icons/movido-frotas.svg" alt=""></li>
                        <li><img src="/assets/img/icons/movida-mensal.svg" alt=""></li>
                    </ul>

                    <img src="/assets/img/canal_denuncia_v3.png" alt="">
                </div>
            </div>
        </nav>

        <div class="infos">
            <ul class="flex">
                <li><a href=""><img src="/assets/img/icons/code.svg" alt="Código de conduta"></a></li>
                <li><a href=""><img src="/assets/img/icons/investment.svg" alt="Relação com investidores"></a></li>
                <li><a href=""><img src="/assets/img/icons/chat.svg" alt="Fale com o presidente"></a></li>
                <li><a href=""><img src="/assets/img/icons/phone.svg" alt="Telefone para contato"></a></li>
            </ul>
        </div>
    </div>

    <div class="bottom bg-primary">
        <div class="container flex">
            <p>2019 Movida Zero Km | Todos os direitos reservados.</p>

            <p>Use o cinto de segurança</p>

            <img src="/assets/img/jsl.png" alt="">

            <ul class="flex social">
                <li><a href=""><img src="/assets/img/icons/facebook.svg" alt="Facebook Movida"></a></li>
                <li><a href=""><img src="/assets/img/icons/instagram.svg" alt="Instagram Movida"></a></li>
                <li><a href=""><img src="/assets/img/icons/youtube.svg" alt="Youtube Movida"></a></li>
            </ul>
        </div>
    </div>

</footer>