<header class="bg-primary">
    <nav class="tabs">
        <ul class="flex container">
            <li class="rent"><a href="">Aluguel de Carros</a></li>
            <li class="fleets"><a href="">Movida Frotas</a></li>
            <li class="pre-owned"><a href="">Seminovos Movida</a></li>
            <li class="zero-km"><a href="">Movida ZeroKM</a></li>
        </ul>
    </nav>

    <div class="container flex nav">
        <div class="flex">
            <a href="" class="menu"><img src="/assets/img/icons/menu.svg" alt="menu"></a>
            <a href="" class="logo"><img src="/assets/img/icons/LogoZeroKm_black.svg" alt="Movida ZeroKm"></a>
        </div>

        <div class="flex links">
            <a href="" class="location">NOSSAS LOJAS</a>
            <a href="" class="login">FERNANDO</a>
        </div>
    </div>
</header>