<section class="container flex">
    <aside>
        <p><a href="" class="breadcrumb"><span>Voltar pra home /</span></a> Resultado da busca</p>

        <form action="">
            <div class="flex top">
                <p>Filtros</p>
                <p>Limpar tudo</p>
            </div>

            <div class="filters">
                <details class="location-filter">
                    <summary>Localização</summary>
                    <input type="text" size="100%" placeholder="Digite o estado ou cidade">
                </details>

                <details class="store">
                    <summary>Loja para retirada</summary>
                    <input type="text" size="100%" placeholder="Digite o estado ou cidade">

                    <div class="checkbox-group">
                        <div>
                            <input type="checkbox">
                            <label for="">São Paulo - Itaim (15)</label>
                        </div>
                        <div>
                            <input type="checkbox">
                            <label for="">São Paulo - Congonhas (1)</label>
                        </div>
                        <div>
                            <input type="checkbox">
                            <label for="">Guarulhos</label>
                        </div>
                        <div>
                            <input type="checkbox">
                            <label for="">Osasco</label>
                        </div>

                    </div>
                </details>

                <details class="brand">
                    <summary>Marca do carro</summary>
                </details>

                <details class="date">
                    <summary>Prazo de entrega</summary>

                    <div class="checkbox-group">
                        <div>
                            <input type="checkbox">
                            <label for="">Entrega imediata (4)</label>
                        </div>
                        <div>
                            <input type="checkbox">
                            <label for="">Até 20 dias úteis (3)</label>
                        </div>
                        <div>
                            <input type="checkbox">
                            <label for="">Sob encomenda (2)</label>
                        </div>
                        <div>
                            <input type="checkbox">
                            <label for="">Osasco</label>
                        </div>

                    </div>
                </details>
            </div>
        </form>
    </aside>

    <main class="flex">
        <div class="results">
            <p>Escolha seu veículo</p>
            <p>Foram encontrados <span>{{ items.total }} veículos</span></p>
        </div>
        <div class="flex container-cards">
            <div *ngFor="let car of cars" class="card">
                <a href="">
                    <img src="{{car.image}}">

                    <div class="main">
                        <p class="title">{{car.title}}</p>
                        <p class="sub-title">{{car.sub_title}}</p>
                    </div>

                    <div class="plan">
                        <p>{{car.plan}}</p>
                        <p>{{car.franchising}}</p>
                    </div>

                    <div class="price">
                        <small>A partir de </small>
                        <p>R$ {{car.price}} <span>/ mês*</span></p>
                        <p>{{car.description}}</p>
                    </div>

                    <button>Eu quero</button>
                </a>
            </div>

        </div>

    </main>
</section>